/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Common Styling ----------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(136, 214, 214);
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.padding-xsmall {
  padding: 1.2rem;
}

.padding-small {
  padding: 2.4rem;
}

.df {
  display: flex;
}

.align-items-c {
  align-items: center;
}

.gap {
  gap: 0.4rem;
}

h2 {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 2.4rem;
  color: #fff;
}
