/* Form Styling ----------------------------------------------------------------------- */

.form-section {
  padding: 0 1rem;
}

.form-section__wrapper {
  padding: 2rem;
  border: 2px solid #000;
  background-color: rgba(238, 238, 238, 0.267);
}

.form__sign-up p {
  font-size: 1.8rem;
}

.form__sign-up label {
  font-size: 2rem;
  font-weight: 700;
}

/* Step 1 Styling ----------------------------------------------------------------------- */

.shipping__to {
  display: none;
  transition: all 0.3s;
}

.shipping_checked:not(:checked) + .shipping__to {
  display: block;
}

.form__sign-up .description_subtitle {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.form__sign-up textarea {
  height: 16rem;
  width: 100%;
}

/* Step 2 Styling ----------------------------------------------------------------------- */

.newsletter__wrapper {
  display: flex;
  gap: 4.8rem;
}

/* Step 3 Styling ----------------------------------------------------------------------- */

.interested-items {
  width: 40%;
}

.style-images__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 3.6rem;
}

.style-images__item {
  text-align: right;
}

.style-images__item img {
  margin-bottom: 1.2rem;
}

/* Step button Styling ------------------------------------------------------------------- */

.next-step {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .form-section {
    padding: 0 1rem;
  }

  .form-section__wrapper {
    padding: 2.4rem;
  }

  .description {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2.4rem;
    align-items: center;
  }

  .form__sign-up .description_subtitle {
    margin-bottom: 0;
  }

  .style-images__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .form-section__wrapper {
    padding: 15rem;
  }
}
