/* Mobile first ------------------------------------------------------------- */

.hero {
  margin-bottom: 3.6rem;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(209, 209, 209, 1) 100%
  );
}

.hero__text {
  order: 2;
  padding: 2rem;
}

.hero__text h2 {
  color: #495057;
}

.hero__text span {
  font-weight: 800;
  color: #000;
}

.hero__img {
  height: 30vh;
  order: 1;
  background: url(./src/images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero__wrapper p {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
}

.hero__wrapper p:last-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 8rem;
  }

  .hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .hero__text {
    padding: 7.4rem 4.4rem;
    order: 1;
  }

  .hero__img {
    height: auto;
    order: 1;
  }
}
