img {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a:link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .container {
    margin: 0 auto;
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}
