.tasks {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks__title {
  margin-bottom: 10px;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
